.searching > #searchbox{
  padding: 16px;
  transition: all .5s ease-in-out;
}
.searching{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  width: 100%;
  background: #00000066

}
.searching > div{
  width: 80%;
  background: #fff;
  position: fixed;
  top: 5%;
  right: 0;
  left: 0;
  align-items: center;
  box-shadow: #000 0 20px 160px;
  margin: auto;
}
.searching > div > div{
width: 100%;
margin: auto;
border-radius: 1rem 1rem 0 0 !important;
}
.searching >div{
  border-radius: 1rem !important;
}
